/* Site-wide classes */
* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar { 
    display: none;
}

html {
    background-image: linear-gradient(to bottom right, #001b4a, #000417);
    background-attachment: fixed;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
}

/* Component-specific CSS classes */

/* Starry Background CSS */
canvas#star-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

/* NavBar CSS */

.navbar {
    position: sticky;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    margin-left: 1rem;
}

.navbar-tabs {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-right: 1rem;
}

.navbar-tabs:hover {
    cursor: pointer;
}

/* Introduction CSS */
.intro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.introduction {
    margin-bottom: 1rem;
    animation: slideFromLeft 0.6s ease-out forwards;
    opacity: 0;
    transform: translateX(-50%);
}

@keyframes slideFromLeft {
    to {
      transform: translateX(0);
      opacity: 1;
    }
}
  
.title {
    font-size: 3rem;
}

.tufts {
    color: #3172AE;
}

.about-me {
    max-width: 75vw;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    animation: slideFromRight 0.6s ease-out forwards;
    opacity: 0;
    transform: translateX(25%);
}

@keyframes slideFromRight {
    to {
      transform: translateX(0);
      opacity: 1;
    }
}

.checkout {
    font-size: 2rem;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    margin: 4rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
    border: 2px white solid;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.checkout:hover {
    transform: scale(1.05);
    cursor: pointer;
}