---
import PageLayout from "../layouts/PageLayout.astro";
import AllProjects from "../components/AllProjects.astro";
---

<PageLayout>
    <div class="flex flex-col gap-8">
        <h2 class="text-4xl">Projects</h2>
        <AllProjects />
    </div>
</PageLayout>