---
---
<section class="w-full">
    <div class="flex flex-col justify-center items-center gap-16">
        <img src="me.jpeg" alt="Profile Picture" class="h-64 w-64 aspect-square rounded-full object-cover" />
        <div class="w-full flex flex-col justify-start gap-4">
            <h1 class="font-semibold text-5xl">Hi, I'm <span class="text-[var(--accent-primary)]">Shayne</span> 👋</h1>
            <p>I am from Massachusetts and am now a senior studying computer science at <span class="text-[var(--accent-primary)]">Tufts</span>. On top of my schoolwork, I have many hobbies and activities that fill my time.</p>
        </div>
        <div class="w-full">
            <div class="flex flex-row justify-between gap-16">
                <div class="flex flex-col gap-2 max-w-2/3">
                    <h2 class="font-semibold text-3xl text-[var(--accent-primary)]">Soccer</h2>
                    <p>I spend much of my free time playing & watching soccer. I have played since I was 4 and play ~3 times/week now. I was an attacking mid in high school, so some of my favorite players include Kevin De Bruyne and Luka Modríc.</p>
                    <p>I support City and am a superfan of Erling Haaland. Sorry United fans. 😢</p>
                </div>
                <div class="h-64 w-64 rounded-lg overflow-hidden">
                    <img src="soccer.jpeg" alt="Me playing soccer" class="object-cover w-full rounded-lg" />
                </div>
            </div>
        </div>
        <!-- Movies, reading -->
    </div>
</section>