---
---

<section id="contact">
    <div class="flex flex-col gap-6">
        <h1>Contact</h1>
        <div class="flex flex-col justify-center items-center gap-6 text-center">
            <h2 class="max-w-[700px]">
                Want to get in contact about a project or some of my other work? Leave your name, email, and a message below and I will get back to you as soon as I can.
            </h2>
            <!-- Using formspree.io to handle form submissions -->
            <form 
                action="https://formspree.io/f/xgvkdgpq"
                method="POST"
                class="flex flex-col justify-center items-center gap-3 w-full max-w-[700px]"
            >
                <input type="text" name="name" placeholder="Name" class="bg-[#282828] px-4 py-2 w-full rounded" />
                <input type="email" name="email" placeholder="Email" class="bg-[#282828] px-4 py-2 w-full rounded" />
                <textarea placeholder="Message" name="message" class="bg-[#282828] px-4 py-2 h-32 w-full rounded resize-none"></textarea>
                <input type="submit" value="Submit" class="bg-[#282828] px-4 py-2 w-fit rounded cursor-pointer self-end" />
            </form>
        </div>
    </div>
</section>
  