---
import LinkedIn from "/public/icons/linkedin.svg";
import GitHub from "/public/icons/github.svg";
import X from "/public/icons/x.svg";
---

<footer>
    <div class="py-8 flex flex-row justify-between">
        <p>© 2026 Shayne Sidman</p>
        <div class="flex flex-row justify-end">
            <div class="flex flex-row justify-end gap-1 items-center">
                <a href="https://www.linkedin.com/in/shayne-sidman" class="flex"><LinkedIn /></a>
                <a href="https://github.com/shaynesidman" class="flex"><GitHub /></a>
                <a href="https://x.com/shaynesidman" class="flex"><X /></a>
            </div>
        </div>
    </div>
</footer>