---
import LinkedIn from "/public/icons/linkedin.svg";
import GitHub from "/public/icons/github.svg";
---

<footer>
    <div class="flex flex-row justify-between">
        <p>© 2025 Shayne Sidman</p>
        <div class="flex flex-row justify-end">
            <div class="flex flex-row justify-end gap-1">
                <a href="https://www.linkedin.com/in/shayne-sidman"><LinkedIn /></a>
                <a href="https://github.com/shaynesidman"><GitHub /></a>
            </div>
        </div>
    </div>
</footer>