---
import Contact from "./Contact.astro"
---

<!-- <section id="introduction">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-y-4 md:gap-x-16 w-full mx-auto pb-[1rem]">
        <div class="opacity-0 slide-from-left flex flex-col gap-6 items-center md:items-start">
            <p class="text-5xl font-secondary">Hi, I'm <span class="text-accent-primary">Shayne</span>.</p>
            <img src="/me.jpeg" alt="me" class="rounded-full w-[10rem] h-[10rem] object-cover" />
            <div class="flex flex-row items-center gap-1">
                <a href="https://www.linkedin.com/in/shayne-sidman"><LinkedIn /></a>
                <a href="https://github.com/shaynesidman"><GitHub /></a>
            </div>
        </div>
    
        <div class="flex flex-col">
            <p class="text-xl mb-[1rem] opacity-0 slide-from-right text-left md:text-right">{aboutMe}</p>
            <p class="text-xl opacity-0 slide-from-right text-left md:text-right">{academics}</p>
        </div>
    </div>
</section> -->

<section id="introduction">
    <div class="flex flex-col gap-8 justify-center">
        <div class="flex flex-col-reverse sm:flex-row justify-between items-center gap-8 sm:gap-16">
            <div class="flex flex-col gap-4">
                <h1 class="font-semibold text-5xl">Hi, I'm <span class="text-[var(--accent-primary)]">Shayne</span></h1>
                <p class="">I'm a CS student @ <span class="text-[var(--accent-primary)]">Tufts</span> that enjoys exploring new technologies, soccer, and reading. You can learn more about be by visiting my <span class="text-[var(--accent-primary)]">about</span> page.</p>
            </div>
            <img src="me.jpeg" alt="me" class="h-54 w-54 aspect-square rounded-full object-cover" />
        </div>
        <Contact />
    </div>
</section>