---
import Contact from "./Contact.astro"
import meImage from "/public/me.jpeg"
---

<section id="introduction">
    <div class="flex flex-col gap-8 justify-center">
        <div class="flex flex-col-reverse sm:flex-row justify-between items-center gap-8 sm:gap-16">
            <div class="flex flex-col gap-4">
                <h1 class="font-semibold text-5xl">Hi, I'm <span class="text-[var(--accent-primary)]">Shayne</span></h1>
                <p class="">I'm a CS student @ <a href="https://www.tufts.edu" class="text-[var(--accent-primary)] hover:underline">Tufts</a> that enjoys exploring new technologies, soccer, and reading. You can learn more about me by visiting my <a href="/about" class="text-[var(--accent-primary)] hover:underline">about</a> page.</p>
            </div>
            <img src={meImage.src} alt="me" class="h-54 w-54 aspect-square rounded-full object-cover" />
        </div>
        <Contact />
    </div>
</section>