---
const aboutMe = "I am a young developer passionate about creating full-stack projects with large-scale impacts, especially on pertinent topics in my life. Whether it be soccer (or football, please don't get mad at me), reading non-fiction, or teaching, you can often find me working on some project to hopefully add some value to someone's life."
const academics = "Having entered my senior year studying computer science at Tufts University, I am fully committed to the pursuit of new ways of thinking and tinkering with new technologies to develop my toolbox of skills."
---
<div class="intro">
    <div class="introduction title">Hi, I'm <span class="tufts">Shayne</span>.</div>
    <p class="about-me">{aboutMe}</p>
    <p class="about-me">{academics}</p>
    <a id="check-out-link" class="checkout" href="#coursework" onclick="
        event.preventDefault();
        const element = document.getElementById('coursework');
        if (element) element.scrollIntoView({ behavior: 'smooth' });
    ">
        Check out some of the work that I have done!
    </a>
</div>