---
import LinkedIn from "/public/icons/linkedin.svg";
import GitHub from "/public/icons/github.svg";

const aboutMe = "I'm a young developer passionate about building full-stack projects that make a meaningful impact—especially on the topics that matter most to me. Whether it's soccer (or football—no hard feelings), reading, or teaching, I'm usually working on something that I hope brings value to someone’s life."
const academics = "Now in my senior year studying Computer Science at Tufts University, I’m constantly exploring new ways of thinking and experimenting with emerging technologies to continue growing my skill set and perspective."
---

<section id="introduction">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-y-4 md:gap-x-16 w-full mx-auto pb-[1rem]">
        <div class="opacity-0 slide-from-left flex flex-col gap-6 items-center md:items-start">
            <p class="text-5xl font-secondary">Hi, I'm <span class="text-accent-primary">Shayne</span>.</p>
            <img src="/me.jpeg" alt="me" class="rounded-full w-[10rem] h-[10rem] object-cover" />
            <div class="flex flex-row items-center gap-1">
                <a href="https://www.linkedin.com/in/shayne-sidman"><LinkedIn /></a>
                <a href="https://github.com/shaynesidman"><GitHub /></a>
            </div>
        </div>
    
        <div class="flex flex-col">
            <p class="text-xl mb-[1rem] opacity-0 slide-from-right text-left md:text-right">{aboutMe}</p>
            <p class="text-xl opacity-0 slide-from-right text-left md:text-right">{academics}</p>
        </div>
    </div>
</section>