---
import MainIcon from "/public/icons/main-icon.svg";
---

<nav class="sticky h-[4rem] flex flex-row justify-between items-center w-full mx-auto mt-4">
    <a href="#introduction" class="text-2xl hover:cursor-pointer">
        <MainIcon />
    </a>
    <div class="flex flex-row gap-[1rem] hover:cursor-pointers">
        <a href="#projects">Projects</a>
        <!-- <a href="/blog">Blog</a> -->
        <a href="#contact">Contact</a>
    </div>
</nav>