---
---

<div class="navbar">
    <div class="navbar-logo">
        Placeholder
    </div>
    <div class="navbar-tabs">
        <a>Home</a>
        <a>About</a>
        <a>Projects</a>
        <a>Contact</a>
    </div>
</div>