---
import MainIcon from "/public/icons/main-icon.svg";
---

<nav class="sticky h-[4rem] flex flex-row justify-between items-center w-full mx-auto mt-4">
    <a href="/" class="text-xl font-primary hover:cursor-pointer">
        ~/ss
    </a>
    <div class="flex flex-row gap-[1rem] hover:cursor-pointers">
        <a href="/#projects" class="transform transition-transform duration-200 hover:scale-105">Projects</a>
        <!-- <a href="/blog">Blog</a> -->
        <a href="/#contact" class="transform transition-transform duration-200 hover:scale-105">Contact</a>
        <a href="/blog" class="transform transition-transform duration-200 hover:scale-105">Blog</a>
    </div>
</nav>