---
const currentPath = Astro.url.pathname;
---
<nav>
    <div class="sticky flex flex-row justify-between items-center w-full py-8">
        <a href="/" class="text-xl font-mono text-[var(--accent-primary)] hover:cursor-pointer hover:bg-[var(--bg-secondary)] p-2 rounded-lg transition duration-300">
            ./ss
        </a>
        <div class="flex flex-row gap-1">
            <div class="flex flex-col">
                <a href="/projects" class=`${currentPath.startsWith('/projects') ? "text-[var(--text-primary)]" : "text-[var(--text-secondary)]"} transition duration-300 hover:bg-[var(--bg-secondary)] hover:text-[var(--text-primary)] p-2 rounded-lg hover:cursor-pointer`>Projects</a>
                {currentPath.startsWith('/projects') && <div class="h-0.5 bg-[var(--accent-primary)]"></div>}
            </div>
            <div class="flex flex-col">
                <a href="/blog" class=`${currentPath.startsWith('/blog') ? "text-[var(--text-primary)]" : "text-[var(--text-secondary)]"} transition duration-300 hover:bg-[var(--bg-secondary)] hover:text-[var(--text-primary)] p-2 rounded-lg hover:cursor-pointer`>Blog</a>
                {currentPath.startsWith('/blog') && <div class="h-0.5 bg-[var(--accent-primary)]"></div>}
            </div>
            <!-- <a href="/books" class="text-[var(--text-secondary)] transition duration-300 hover:bg-[var(--bg-secondary)] hover:text-[var(--text-primary)] p-2 rounded-lg hover:cursor-pointer">Books</a> -->
            <div class="flex flex-col">
                <a href="/about" class=`${currentPath.startsWith('/about') ? "text-[var(--text-primary)]" : "text-[var(--text-secondary)]"} transition duration-300 hover:bg-[var(--bg-secondary)] hover:text-[var(--text-primary)] p-2 rounded-lg hover:cursor-pointer`>About</a>
                {currentPath.startsWith('/about') && <div class="h-0.5 bg-[var(--accent-primary)]"></div>}
            </div>
        </div>
    </div>
</nav>