---
import "../styles/globals.css";
import NavBar from "../components/NavBar.astro";
import BG from "../components/BG.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Shayne Sidman | Full Stack Developer</title>
    </head>
    <body class="min-h-screen">
        <div class="h-full w-full max-w-4xl px-16 md:px-0 md:px-10 mx-auto flex flex-col justify-center gap-4">
            <BG />
            <NavBar />
            <main class="flex-1 flex justify-center">
                <slot />
            </main>
            <Footer />
        </div>
    </body>
</html>