---
import "../styles/globals.css";
import NavBar from "../components/NavBar.astro";
import BG from '../components/BG.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Shayne Sidman</title>
	</head>
	<body>
        <div class="w-full max-w-[900px] px-1 mx-auto flex flex-col justify-center gap-32 px-10">
            <BG />
            <NavBar />
            <slot />
        </div>
	</body>
</html>